      body {
        margin: 0;
        font-family: 'Helvetica Neue', sans-serif;
      }
      a {
        color: #38afd4;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .banner {
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
      .header {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        color: #158000;
        text-align: center;
        font-size: 50px;
        padding: 40px;
      }
      .example {
        padding: 10px;
      }
      .props {
        overflow: auto;
      }
      .component {
        border: 2px solid #222222;
        
        border-radius: 5px;
        height: 300px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
      }
      .item {
        
        background-color: rgb(34, 34, 34);
        
        
        border-bottom: thin solid;
       /* border-radius: 50px;
        /*background: linear-gradient(rgba(5, 224, 195,0.3), rgba(12, 34, 134,0.3)); */
        line-height: 30px;
        padding:  10px;
      }
      .axis-x .item {
        display: inline-block;
        line-height: 300px;
        padding: 0;
        text-align: center;
        width: 150px;
      }
      .axis-x .component {
        white-space: nowrap;
        
      }
      .square-item {
        background: linear-gradient(#fff, #eee);
        display: inline-block;
        line-height: 100px;
        text-align: center;
        width: 100px;
      }
      .even {
        
        background-color: rgb(34, 34, 34);
        /*background: linear-gradient(#ddd, #ccc);*/
        
        
      }
      
      body{

        background-color: rgb(34, 34, 34);
      }

      .c_title{
        
      text-align: center;

      }

      

     