      body {
        margin: 0;
        font-family: 'Helvetica Neue', sans-serif;
        
      }
      a {
        color: #158000;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
      .banner {
        border: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
      .header {
        background: rgba(0, 0, 0, 0.3);
        border-radius: 50px;
        color: #158000;
        text-align: center;
        font-size: 50px;
        padding: 40px;
        margin-bottom: 15%;
      }
      .example {
        padding: 10px;
      }

      /*
      .props {
        overflow: auto;
      }

      */
      .component {
        border: 2px solid #222222;
        
        border-radius: 5px;
        height: 400px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        
      }
      .item {
       
        background: -webkit-linear-gradient(bottom,  rgba(34, 34, 34,0.5), rgba(0, 0, 0,0.5));

      /*  background-color: rgba(34, 34, 34,0.6);
        
        
        border-bottom: thin solid;
       /* border-radius: 50px;
        /*background: linear-gradient(rgba(5, 224, 195,0.3), rgba(12, 34, 134,0.3)); */
        line-height: 30px;
        padding:  10px;
      }
      .axis-x .item {
        display: inline-block;
        line-height: 300px;
        padding: 0;
        text-align: center;
        width: 150px;
      }
      .axis-x .component {
        white-space: nowrap;
        
      }
      .square-item {
       
        display: inline-block;
        line-height: 100px;
        text-align: center;
        width: 100px;
      }
      .even {
        background: -webkit-linear-gradient(bottom,  rgba(34, 34, 34,0.5), rgba(0, 0, 0,0.5));
       /* background-color: rgba(34, 34, 34,0.6);
        /*background: linear-gradient(#ddd, #ccc);*/
        
        
      }
      
      body{
        background: url('img/newbackg.png') center no-repeat;
        background-color: rgb(34, 34, 34);
        position: relative;
      }

      .c_title{
        font-size: 30px;
        padding: 20px;
      text-align: center;

      }

      .upButton{
        background: url('img/like3.png') center no-repeat;
        padding: 32px;
        border:none;
        
        
      }

      .downButton{
        background: url('img/cancel.png') center no-repeat;
        padding: 32px;
        border:none;
        right:100%;
        
        
        
      }

      .tr-zone{
        background: -webkit-linear-gradient(bottom,  rgba(34, 34, 34,0.5), rgba(0, 0, 0,0.5));
        
              /*  background-color: rgba(34, 34, 34,0.6);
                
                
                border-bottom: thin solid;
               /* border-radius: 50px;
                /*background: linear-gradient(rgba(5, 224, 195,0.3), rgba(12, 34, 134,0.3)); */
                line-height: 30px;
                padding: auto;



                width: 100%;
                
                
                
                

      }

      html {
        overflow:   scroll;
      }
      ::-webkit-scrollbar {
          width: 0px;
          background: transparent; /* make scrollbar transparent */
      }

      .sub{
        font-size: 30px;
        margin: 50px;
        color:rgba(0, 0, 0, 0.7);
        background-color: #158000; /* rgba(0, 0, 0, 0.2); */
        border-radius: 30px;
        border:none;
        padding:20px;
        
      }
      
     .sub_div{
      
      text-align: center;

      
     }

     .song{

      
      margin-right: 100px;
      font-size: 20px;
        color: #a3a3a3;
     }

     .dbutt{

      text-align: right;
     }